<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h3>Hello from app comp23</h3>
            <app-server></app-server>
            <!-- <div app-server></div> -->
            <!-- <div class="app-server"> </div> -->
            <app-servers></app-servers>
            <app-assig3-component></app-assig3-component>
            
        </div>
    </div>
</div>