<label > Server Name </label>
<!-- <input type="text" class="form-control" (input)="ouUpdateServerName($event)" > -->
<input type="text" class="form-control" [(ngModel)]="serverName" >
<!-- <p> {{ serverName }} </p> -->


<input type="text" class="form-control" [(ngModel)]="userName">
<p> {{ userName }} </p>

<button class="btn btn-primary" [disabled]='userName.length==0' (click)="resetUserName()" >Reset username</button>

<button class="btn btn-primary" [disabled]="!allowNewServer" (click)="onCreateServer()">Add Server</button>
<!-- <p>{{ serverCreationStatus }} </p> -->
<!-- <p [innerText]="allowNewServer"></p> -->
<p *ngIf="servercreated">Server was created , its name is {{ serverName }}</p>
<app-server *ngFor="let server of servers"></app-server>