<app-header (featureSelected)="onNavigate($event)"></app-header>
<app-recipes *ngIf="loadedFeature === 'recipe' "></app-recipes>
<app-shopping-list *ngIf="loadedFeature !== 'recipe' "></app-shopping-list>