<div class="row">

  <div class="col-xs-12">
    <app-game-control (intervalFired)="onIntervalFired($event)"></app-game-control>
  </div>
  
  <div class="col-xs-12">
    <app-odd  *ngFor="let oddNumber of oddNumbers" [number]="oddNumber" ></app-odd>
  </div>


  <div class="col-xs-12">
    <app-even  *ngFor="let evenNumber of evenNumbers" [number]="evenNumber" ></app-even>
  </div>
</div>
