<p>
  assig3-component works!
</p>


<button class="btn btn-primary" (click)="onToggleDisplay()" >Show Details</button>

<p *ngIf="getDisplayP()">Secret Password=Tuna</p>
<!-- <p>{{ displayP }}</p> -->
<div *ngFor="let logItem of secretArr; let i=index"
[ngStyle]="{backgroundColor: i >=5 ? 'blue' : 'transparent' }"
[ngClass]="{'white-color' : i >= 5}"
>{{ logItem }}</div>